<nav class="site-nav">
  <div class="site-nav-inner">
    <a class="site-brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <div class="site-links">
      <a href="{{ '/' | relative_url }}#home">Home</a>
      <a href="{{ '/' | relative_url }}#news">News</a>
      <a href="{{ '/' | relative_url }}#bio">Bio</a>
      <a href="{{ '/' | relative_url }}#research">Research</a>
      <a href="{{ '/' | relative_url }}#teaching">Teaching</a>
      <a href="{{ '/' | relative_url }}#blog">Blog</a>
      <a href="{{ '/' | relative_url }}#contact">Contact</a>
    </div>
  </div>
</nav>
